@page "/"

<PageTitle>홈</PageTitle>

<h1>안녕하세요!</h1>

<p>Blazor WebAssembly 계산기 애플리케이션에 오신 것을 환영합니다.</p>

<div class="alert alert-info mt-4">
    <h4>사용 방법</h4>
    <p>
        이 애플리케이션은 기본적인 사칙연산(더하기, 빼기, 곱하기, 나누기)을 수행할 수 있는 
        계산기를 제공합니다. 네비게이션 메뉴에서 '계산기'를 클릭하여 사용해보세요.
    </p>
</div>

<div class="mt-4">
    <a href="/calculator" class="btn btn-primary">계산기 사용하기</a>
</div>
